.my-form{
    min-width: 150px;
    max-width: 300px;
    width: 250px;
}
.full-width {
    width: 300px;
    display: block;
}

.loginDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}