<div class="loginDiv">
<mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit">
        <mat-form-field class="full-width" appearance="outline">
            <label for="email">Email Address</label>
            <input matInput placeholder="Enter Your Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" />
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <label for="password">Password</label>
            <input matInput placeholder="Enter Your Password" [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" />
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
    </form>
</mat-card-content>
<mat-card-actions>
    <button mat-raised-button (click)="onSubmit()" [disabled]="loading" class="btn btn-primary">Login</button>
    <a routerLink="/register" class="btn btn-link">Register</a>
</mat-card-actions>
</div>


