<div>
  <table>
    <thead>
      <tr>
        <th scope="col">Club Name</th>
        <th scope="col">Club Description</th>
        <th scope="col">Owner</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody id="club-lookup-body">
      <tr *ngFor="let club of clubs; let i = index" >
        <td>{{club.clubName}}</td>
        <td>{{club.clubDescription}}</td>
        <td>{{club.owner.firstName}} {{club.owner.lastName}}</td>
        <td>
          <button mat-raised-button color="primary" (click)="Subscribe($event, i)" type="button">Subscribe</button>
          <button mat-raised-button color="warn" (click)="Unsubscribe($event, i)" type="button">Unsubscribe</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
