<div class="divCard">
    <ul>
        <li *ngFor="let review of reviews" class="post-card">
            <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>{{ review.reviewIdentity.bookId }}</mat-card-title>
                  <mat-card-subtitle>{{ review.reviewDate }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>{{ review.reviewDescription }}</p>
                </mat-card-content>
              </mat-card>
        </li>
      </ul>
</div>
