<!-- <div class="divCard">
  <ul>
      <li *ngFor="let review of reviews" class="post-card">
          <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{ review.bookId }}</mat-card-title>
                <mat-card-subtitle>{{ review.reviewDate }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>{{ review.reviewDescription }}</p>
              </mat-card-content>
            </mat-card>
      </li>
    </ul>
</div> -->
<div class="divCard">
  <ul>
      <li class="post-card">
          <mat-card class="card">
              <mat-card-header>
                <mat-card-title>test</mat-card-title>
                <mat-card-subtitle>test</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>test</p>
              </mat-card-content>
            </mat-card>
      </li>
    </ul>
</div>