<div class="divCard">
  <ul>
      <li *ngFor="let meeting of meetings" class="post-card">
          <mat-card class="card">
              <mat-card-header>
                <mat-card-title>{{ meeting.clubName }}</mat-card-title>
                <mat-card-subtitle>{{ meeting.Location }} {{ meeting.date }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p>{{ meeting.description }}</p>
              </mat-card-content>
            </mat-card>
      </li>
    </ul>
</div>